/*

Copyright: 2025 - Aduki Incorporation
Name: Diasync
Version: 1.0.0
URL: https://github.com/fescii/Pau.git
Author: Femar & Nanjimars
Author URL: https://nomadia.aduki.io

*/

/*

  Fonts
  =====

*/

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

/*

  Variables
  =========

*/

:root {
  /* New Color Palette */
  --main: #3674b5;
  --main-700: #578fca;
  --main-500: #a1e3f9;
  --alt: #354649;

  /* Background Colors */
  --tab-background: #3674b521;
  --hubspot-background: linear-gradient(0deg, #35464938 0%, #57607067 100%);
  --stat-background: #f1f1f1;
  --attachement-background: var(--tab-background);

  /* Font Variables */
  --font-main: "Inter";
  --font-text: var(--font-main);
  --font-mono: "Jetbrains Mono";
  --font-read: "Work Sans";

  /* Shadow Variables */
  --card-box-shadow: 0 12px 28px 0 rgba(53, 70, 73, 0.2);
  --image-shadow: 0 -1px 10px 0 #0202020a;
  --card-box-shadow-alt: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0 0 1px #ffffff25, 0 2px 2px #0000000a,
    0 8px 16px -4px #0000000a;

  /* Scrollbar Colors */
  --scroll-bar-background: #ddddd7;
  --scroll-bar-linear: linear-gradient(var(--alt), var(--main-700));

  /* Border Variables */
  --input-border: 1px solid #35464970;
  --input-border-focus: 1px solid #3674b59a;
  --input-border-error: 1px solid #ec4a1965;
  --action-border: 1px solid #35464950;
  --border: thin solid #35464925;
  --border-button: thin solid #35464925;
  --action-border: thin solid #3674b573;
  --topic-border: thin solid #35464946;
  --topic-border-active: thin solid #3674b57a;
  --section-border: 2px solid var(--main);
  --poll-border: thin solid #35464925;
  --border-mobile: thin solid #35464936;
  --border-header: 0.002rem solid #3546499a;

  /* Main Background */
  --background: #ffffff;
  --vh-height: 100dvh;

  /* Component Backgrounds */
  --label-focus-background: #a1e3f950;
  --modal-background: #354649b3;
  --action-background: #354649d2;
  --author-background: #f1f3f4;
  --user-background: #f8f8f8;
  --dot-background: #354649c9;
  --hover-background: #f7f7f7;
  --que-background: #e7e7e76c;
  --poll-background: #e7e7e7d7;
  --gray-background: #e7e7e7d7;
  --create-background: linear-gradient(90deg, #a1e3f950 0%, #578fca30 100%);
  --logon-background: #f8f9fa;
  --error-background: #ff8d6a42;
  --logon-image: radial-gradient(circle, #dee2e6 1px, rgba(0, 0, 0, 0) 1px);

  /* Color Variables */
  --accent-color: var(--main);
  --accent-alt: var(--main-700);
  --action-color: var(--main-700);
  --success-color: #10b981;
  --white-color: #ffffff;
  --gray-color: var(--alt);
  --add-color: var(--alt);
  --text-color: #494d52;
  --label-color: #3f4246;
  --highlight-color: #494d52;
  --read-color: #333333;
  --editor-color: #333333;
  --title-color: #1f2937;
  --alt-color: var(--alt);
  --hubspot-color: var(--alt-color);
  --error-color: #ec4b19;
  --anchor-color: var(--main);
  --icon-color: var(--text-color);

  /* Shot/Dark Theme Variables */
  --shot-text-color: #b9babc;
  --shot-read-color: #b5b3b3;
  --shot-title-color: #d8d8d9;
  --shot-alt-color: #578fca;
  --shot-error-color: #d94317;
  --shot-anchor-color: #a1e3f9;
  --shot-background: #35464952;
  --shot-active-background: #3674b55d;

  /* Pin Variables */
  --pin-linear-gradient: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  );
  --pin-text-color: #ececec;
  --pin-gray-color: #c4c4c4;

  /* Chat Variables */
  --chat-background: #f0f2f5;
  --you-background: #a1e3f950;
  --reply-background: #f8f8f8;
  --chat-hover: #f3f3f3;
  --chat-you-delivered: var(--main);
  --typing-color: rgba(148 163 184 / 1);
  --message-background: linear-gradient(
    var(--main-500) 0%,
    var(--main-700) 50%,
    var(--main) 100%
  );
  --attachement-background: #3674b521;

  /* Line Variables */
  --open-line: 2px solid #3674b593;
  --open-line-mobile: 2px solid #3674b5c5;
  --close-line: 2px solid #35464950;

  /* Modal Variables */
  --modal-shadow: 0 12px 48px #35464933;
  --modal-border: 1px solid #35464942;
  --modal-overlay: #354649b3;

  /* Gradient Variables */
  --action-linear-start: var(--main);
  --action-linear-end: var(--main-700);

  --action-linear: linear-gradient(var(--alt), var(--main-700));
  --light-linear: linear-gradient(90deg, #a1e3f950 0%, #578fca30 100%);
  --error-linear: linear-gradient(103.53deg, #fa6436 -6.72%, #ec4b19 109.77%);
  --second-linear: linear-gradient(0deg, var(--alt) 0%, #576070 100%);
  --poll-linear: linear-gradient(0deg, #354649ce 0%, #576070cc 100%);
  --accent-linear: linear-gradient(
    103.53deg,
    var(--main) -6.72%,
    var(--main-700) 109.77%
  );
  --alt-linear: linear-gradient(
    78deg,
    var(--alt) -50%,
    var(--main) 28.67%,
    var(--main-700) 57.79%,
    rgba(54, 116, 181, 0.85) 76.05%,
    var(--main-500) 88.54%,
    #a1e3f9
  );

  --loader-gradient: linear-gradient(
    -45deg,
    #ececec,
    #f8f8f8,
    #dddddd,
    #f8f8f8,
    #ececec
  );

  --fade-linear-gradient: linear-gradient(
    180deg,
    #ffffff02,
    #ffffff2a,
    #ffffff4d,
    #ffffff69,
    #ffffff83,
    #ffffffc7,
    #ffffffd5,
    #ffffffea,
    #fffffff6,
    #ffffff
  );

  --controls-gradient-left: linear-gradient(
    -90deg,
    #ffffff02,
    #ffffff2a,
    #ffffff4d,
    #ffffff69,
    #ffffff83,
    #ffffffc7,
    #ffffffd5,
    #ffffffea,
    #fffffff6,
    #ffffff
  );

  --controls-gradient-right: linear-gradient(
    90deg,
    #ffffff02,
    #ffffff2a,
    #ffffff4d,
    #ffffff69,
    #ffffff83,
    #ffffffc7,
    #ffffffd5,
    #ffffffea,
    #fffffff6,
    #ffffff
  );
}

*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: inherit;
  -webkit-box-sizing: border-box;
}

*:focus {
  outline: inherit !important;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-background);
}

*::-webkit-scrollbar-thumb {
  width: 3px;
  background: var(--scroll-bar-linear);
  border-radius: 50px;
}

/* ======= Typography ========== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  line-height: 1.4;
}

ul,
ol {
  font-family: inherit;
  line-height: 1.4;
}

a {
  text-decoration: none;
  line-height: inherit;
}

h6,
h5,
h4,
h3,
h1 {
  padding: 0;
  font-size: 1.3rem !important;
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.5;
  margin: 5px 0;
  line-height: 1.4;
}

p {
  margin: 5px 0;
  line-height: 1.4;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--anchor-color) !important;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  margin: 10px 0;
  padding: 5px 15px;
  font-style: italic;
  border-left: 2px solid var(--gray-color);
  background: var(--background);
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.4;
}

blockquote:before {
  content: open-quote;
  color: var(--gray-color);
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0 0 -5px;
}

blockquote:after {
  content: close-quote;
  color: var(--gray-color);
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0 0 -5px;
}

hr {
  border: none;
  background-color: var(--text-color);
  height: 1px;
  margin: 10px 0;
  line-height: 1.4;
}

b,
strong {
  font-weight: 700;
  line-height: 1.4;
}

ul,
ol {
  margin: 5px 0 15px 20px;
  padding: 0 0 0 15px;
  color: inherit;
  line-height: 1.4;
}

ul li,
ol li {
  margin: 6px 0;
  padding: 0;
  color: inherit;
}

code {
  background: var(--gray-background);
  padding: 5px;
  font-family: var(--font-mono);
  font-size: 0.95rem;
  border-radius: 5px;
}

/* ========= Typography End ============== */
